<!-- HTML -->
<!DOCTYPE html>
<html lang="en">
<head>
<link rel="icon" href="../images/favicon.png" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roommate Finder</title>
    <!-- Link to CSS stylesheet -->
    <link rel="stylesheet" href="../stylesheets/stylesdash.css">
</head>
<body>
    <!-- Navigation bar -->
    <div class="nav">
        <div class="logo">
            <div>
                <a href="/F5bGL48ur6zB3kMHNqegtp"><img class="logp" src="../images/new logo.png" alt=""></a>
        </div>
        <!-- <div class="loginbutton" id="dbtn">
            Dark Mode 
         </div> -->
        <!-- <div class="titlee">
            FINDMYROMMIE
        </div> -->
        </div>
        <div class="buttons">
            <div class="options">
                <a class="homebutton" href="/F5bGL48ur6zB3kMHNqegtp">HOME</a></div>
            <div class="options">
              <a class="aboutusbutton" href="/F5bGL48ur6zB3kMHNqegtp">  ABOUT US</a>
            </div>
            <a class="loglink" href="/logout"><div class="loginbutton">
               LOGOUT
            </div></a>
        </div>
    </div>
    
    <!-- Greeting -->
    <div class="greeting">
        <h1>Hello, have a look at your possible roomies.</h1>
        <h2 class="logmsg">★Logout to go to Homepage★</h2>
    </div>
    
    <!-- Roommate blocks -->
    <div class="roommate-block">
        <p class="name">Ayush Pandey</p>
        <br>
        <p><strong>Language Spoken:</strong> Hindi
        English</p>
        <p><strong>Native of:</strong> Uttar Pradesh</p>
        <p><strong>Major Interest:</strong> Singing and Music</p>
        <div class="buttons">
            <button class="more-details-btn">More Details</button>
            <button class="reveal-contact-btn">Reveal Contact</button>
        </div>
    </div>

    <!-- Pop-up for More Details -->
    <div id="detailsPopup" class="popup">
        <h3>Details</h3>
        <br>
        <p>Usually Sleep Early</p>
        <p>Rarely has friend coming over</p>
        <p>Keeps the room mostly clean</p>
        <p>Has problem sleeping with lights on</p>
        <p>Currently lives in</p>
        <button class="close-btn">Close</button>
    </div>

    <!-- Pop-up for Reveal Contact -->
    <div id="contactPopup" class="popup">
        <h3>Contacts</h3>
        <div class="contact-details">
            <p><strong>Mobile:</strong> [Mobile Number]</p>
            <p><strong>Email:</strong> [Email Address]</p>
        
        <div>
        <button class="close-btn">Close</button>
    </div>
</div>
    </div>

    <!-- Link to JavaScript file -->
    <script src="../javascripts/scriptdash.js"></script>
</body>
</html>
