<!DOCTYPE html>
<html lang="en">
<head>
<link rel="icon" href="../images/favicon.png" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <!-- <link rel="stylesheet" href="../public/stylesheets/loginstyle.css"> -->
    <style>
        body{
    /* background-image: url(backlogin.png); */
    background-size: 100%;
    margin: 0;

}
.bigbox{
    display: grid;
    justify-content: center;
    align-items: center;
    height: 550px;
    width: 500px;
    margin-left: 500px;
    margin-top: 80px;
    margin-bottom: 80px;
    border-radius: 15px;
    border: 1px solid black;
    box-shadow: 3px 3px;
    background: linear-gradient(to bottom right, #71a0a5, #ffffff);
}
.titlee{display: flex;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
    font-size: x-large;
    color: black;
    font-weight: 600;
}
.loginform{
    display: flex;
    margin-bottom: 300px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.askemail{
    border-radius: 20px;
    width: 250px;
    height: 30px;
    background-color: #cde8f6;
    box-shadow: 1px 1px;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
    text-align: center;
}
.askemail-gender{
    border-radius: 20px;
    width: 250px;
    height: 30px;
    background-color: #cde8f6;
    box-shadow: 2px 2px;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
    text-align: center;
}
.gentext{
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
    text-align: center;
}
.loginbutton{
    display: flex;
    width: 250px;
    height: 40px;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
    font-size: 15px;
    text-align: center;
    transition: background-color 1s, box-shadow 1s;
    border-radius: 20px;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    font-weight: 600
}
.loginbutton:hover{
    background-color: #462054;
    cursor: pointer;
    color: white;
    box-shadow: 1px 1px;
}
.lasttext{
    color: black;
}
.nav{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-gap: 800px;
    background-color: white;
    height: 100px;
    border-radius: 5px;
    transition: background-color 1s;
}
.buttons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 25px;
    width: 200px;
    grid-gap: 10px;
    position: relative;
  
}
.dashboard{
    color: black;
    transition: background-color 0.5s;
}
.dashlink{
    color: black;
    text-decoration: none;
    transition: color 0.5s;
}
.dashlink:hover{
    color: white;
}
.dashboard:hover{
    background-color: #462054;
    color: white;
}
.options{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
    text-decoration: none; 
    transition: text-decoration 1s ease;
}
.options:hover{
    cursor: pointer;
    text-decoration: underline;     
}
.logo{
    display: grid;
    padding: 10px;
    grid-template-columns: 1fr 1fr;
    height: 100px;
    justify-content: center;

}
.logp{
    display: flex;
    width: 200px;
    margin-left: 50px;
    border-radius: 50px;
}
.nav{
    position: sticky;
    top: 0;
}
.loginbuttonnav{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
    background-color: #ffe26f;
    border-radius: 4px;
    color: black;
    border: 1px solid black ;
}
.loginbuttonnav:hover{
    cursor: pointer;
}
.loglink{
    color: black;
    text-decoration: none;
}
.homebutton{
    color: black;
    text-decoration: none;
}
.popup{
    top: 50%;
    left: 50%;
    margin-left: -200px;
    margin-top: -200px;
    background-color: #f6e5e5;
    width: 400px;
    height: 400px;
    position: absolute;
    border-radius: 20px;
    visibility: hidden;
    transition: scale 1s;
} 
.open-popup{
    visibility: visible;
    scale: 1.1;
}
/* dekh rha h na bhai position absolute ka mtlb hi yahi hota h hi jaha humne bola vahi ja kr rkho koi mtlb nahi h kisi ke upar aae ya neeche overlap ho to hone do bas vahi ja kr rkho jaha humne bola */
.popup > img{
    width: 150px;
    height: 150px;
    margin-top: 20px;
    margin-left: 130px;
}
.popup > h2{
    text-align: center;
    font-size: xx-large;
    margin-top: 8px;
    margin-left: 10px;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
}
.popup > p{
    text-align: center;
    font-size: larger;
    margin-top: -5px;
    margin-left: 10px;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
}
.dashboard{
    margin-left: 140px;
    margin-top: 2px;
    width: 120px;
    height: 50px;
    border-radius: 20px;
    font-size: medium;
    color: black;
    transition: background-color 1s, color 1s;
}
.dashboard:hover{
    cursor: pointer;
    background-color: #462054;
    color: white;
}
@media screen and (max-width:426px) and (min-width:320px){
    .bigbox{
        margin-left: 450px;
    }
    .buttons{
        width: fit-content;
        margin-right: 90px;
    }
}
@media screen and (max-width:426px) and (min-width:320px){
    .bigbox{
        margin-left: 450px;
    }
    .buttons{
        width: fit-content;
        margin-right: 90px;
    }
}

    </style>
</head>
<body>
    <div class="nav">
        <div class="logo">
            <div>
                <a href="/"> <img class="logp" src="../images/new logo.png" alt=""></a>
        </div>
        <!-- <div class="titlee">
            FINDMYROMMIE
        </div> -->
        </div>
        <div class="buttons">
            <div class="options">
                <a class="homebutton" href="/">HOME</a></div>
            <a class="loglink" href="/aboutus"><div class="options">
                ABOUT US
            </div></a>
            <a class="loglink" href="/open"><div class="loginbuttonnav">
               LOGIN 
            </div></a>
        </div>
    </div>
    <div class="bigbox">
        <form class="loginform" action="/register" method="post">
            <p class="titlee">Register Using Username And Password</p>
            <p><input required name="name" class="askemail" type="string" placeholder="NAME"></p>
            <p><input required name="username" class="askemail" type="email" placeholder="EMAIL ADDRESS"></p>
            <p><input required name="password" class="askemail" type="password" placeholder="PASSWORD"></p>
            <!-- <p><input name="gender" class="askemail" type="string" placeholder="GENDER"></p> -->
            <p><select required name="gender" class="askemail-gender">
                <option class="gentext" value="Select Gender">Select Gender</option>
                <option class="gentext" value="Male">Male</option>
                <option class="gentext" value="Female">Female</option>
            </select></p>
            <!-- <p><input name="mobileNumber" class="askemail" type="string" placeholder="MOBILE NUMBER"></p> -->
            <p>
                <!-- <input class="loginbutton" type="submit" value="Login" onclick="openPopup()"> -->
                <button class="loginbutton">
                    Register
                </button>
            </p>
            <p>
                Already have an account? <a class="lasttext" href="/open">Login</a>
            </p>
        </form>
    </div>
    <!-- <div class="popup">
        <img src="logintick.png" alt="">
        <h2>THANK YOU</h2>
        <p>
            You are Successfully Logged In 
            <br>
            You can go to the Dashboard.
        </p>
        <button class="dashboard" onclick="closePopup()">
            <a class="dashlink" href="">Dashboard</a></button>
    </div>    -->
    <!-- <script>
        let popup = document.querySelector(".popup");
        let body=document.querySelector("body");
        function openPopup() {
            let addList = popup.classList;
            addList.add("open-popup");
            body.style.visibility="hidden";
            body.style.backgroundColor="white";
        }
    
        function closePopup() {
            let classList = popup.classList;
            classList.remove("open-popup");
        }
    </script> -->
    
</body>
</html>