<!DOCTYPE html>
<html lang="en">
<head>
<link rel="icon" href="../images/favicon.png" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>under process</title>
    <link rel="stylesheet" href="../stylesheets/underprocess.css">
</head>
<body>
    <!-- Navigation bar -->
    <div class="nav">
        <div class="logo">
            <div>
                <a href="/wait-sp"><img class="logp" src="../images/new logo.png" alt=""></a>
        </div>
        <!-- <div class="loginbutton" id="dbtn">
            Dark Mode 
         </div> -->
        <!-- <div class="titlee">
            FINDMYROMMIE
        </div> -->
        </div>
        <div class="buttons">
            <div class="options">
                <a class="homebutton" href="/wait-sp">HOME</a></div>
            <div class="options">
              <a class="aboutusbutton" href="/wait-sp">  ABOUT US</a>
            </div>
            <a class="loglink" href="/logout"><div class="loginbutton">
               LOGOUT
            </div></a>
        </div>
    </div>
    <div>
        <h2 class="logmsg">★Logout to go to Homepage★</h2>
    </div>
    <div class="text">
        Information Under Verification, We will Get Back To You Soon Via Email!!!
    </div>
    
</body>
</html>